*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fff;
  --text-color: #000;
  --link-color: #000;
  --logo-color: #f1683a;
}

[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #fff;
  --link-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80px;
  width: 1140px;
  margin: 0 auto;
}
.logo {
  font-weight: bold;
  color: var(--logo-color);
  letter-spacing: -1px;
}
.logo:hover {
  color: var(--text-color);
}
nav a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.6rem;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 17px;
}

nav ul li {
  display: inline-block;
  background-image: linear-gradient(to top, #f1683a, #f1683a);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: left 100%;
  transition: background-size 0.7s, background-position 0s 0.7s;
  border-radius: 5px;
  padding: 3px;
}

nav ul li:hover {
  background-size: 100% 100%;
  background-position: left 0%;
}

#modeToggle {
  margin-left: 25px;
  background: none;
  border: none;
  color: var(--link-color);
  transition: transform 0.7s ease;
  cursor: pointer;
}
#modeToggle:hover {
  transform: scale(2);
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1140px;
  height: 80vh;
  gap: 27px;
}

header img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.around-image {
  display: flex;
  border-radius: 50%;
  border: 2px solid #f1683a;
}
header p {
  font-size: 1.6rem;
  text-shadow: 0 5px 10px #0004;
  letter-spacing: -0.5px;
}
header h1 {
  font-size: 4.8rem;
  text-shadow: 0 5px 10px #0004;
  margin: 0 auto;
  letter-spacing: -2px;
}
header h2 {
  color: #f1683a;
  font-size: 3.2rem;
  text-shadow: 0 5px 10px #0004;
  margin: 0 auto;
  letter-spacing: -2px;
}
.container {
  display: flex;
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1.5px;
  line-height: 40px;
}

.buttons {
  margin: 30px auto;
}
.buttons a {
  display: inline-block;
  text-decoration: none;
  color: var(--link-color);
  background-image: linear-gradient(to top, #f1683a, #f1683a);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: left 100%;
  transition: background-size 0.7s, background-position 0s 0.7s;
  font-size: 1.6rem;
  padding: 10px 20px;
  border: 1px solid #f1683a;
  border-radius: 5px;
}
.buttons a:hover {
  background-size: 100% 100%;
  background-position: left 0%;
}

.stacks {
  display: flex;
  gap: 30px;
  width: 1140px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.stacks p {
  font-size: 1.6rem;
  font-weight: 500;
}
.icon-container {
  display: flex;
  gap: 30px;
}
.icon-container i {
  font-size: 3.2rem;
}
.fa-html5 {
  color: #e34f26;
}
.fa-css3-alt {
  color: #1572b6;
}
.fa-js {
  color: #f0db4f;
}
.fa-node-js {
  color: #339933;
}
.fa-react {
  color: #61dbfb;
}

.fa-circle-down {
  position: fixed;
  bottom: 50px;
  left: 40px;
  font-size: 2.4rem;
  color: #f1683a;
  margin-top: 27px;
}

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  width: 1140px;
  margin: 0 auto;
  gap: 50px;
  padding-top: 100px;
}
#about img {
  width: 350px;
  height: 350px;
  border-radius: 25px;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.around-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.around-boxes p {
  width: 200px;
  font-size: 1.2rem;
  font-weight: 700;
}
.around-boxes i {
  margin-top: -25px;
  font-size: 2rem;
  color: var(--text-color);
}

.box1,
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 250px;
  height: 150px;
  box-shadow: 0 0 10px #0004;
  border-radius: 25px;
  line-height: 16px;
  gap: 5px;
}

h3 {
  font-size: 2rem;
  color: #f1683a;
  margin: 10px 0;
  letter-spacing: -1.2px;
}
.about-me {
  width: 100%;
  font-size: 1.6rem;
  line-height: 24px;
}

#projects {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 1140px;
}
#projects h2 {
  color: #f1683a;
  font-size: 3.2rem;
  text-shadow: 0 5px 10px #0004;
  letter-spacing: -2px;
}

.project1,
.project2,
.project3,
.project4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

footer {
  display: flex;
  width: 100%;
  flex-direction: row;
 justify-content: flex-end;
}

footer p {
  padding: 15px;

}