*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #0e0e0e;
  --text-color: #d9c5a6;
  --link-color: #d9c5a6;
  --logo-color: #8c7f6d;
  --border-color: #514e48;
  --background-color: #181716;
}

html {
  font-size: 62.5%;
  color: var(--text-color);
  font-family: "Inter", serif;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}
.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 370px;
  margin: 0 auto;
}
.navigation {
  position: fixed;
  display: inline-block;
  right: 50px;
  z-index: 101;
  top: 50px;
}
#dot {
  background-color: var(--logo-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid var(--logo-color);
  border-radius: 50%;
  padding: 10px;
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 100;
  transition: all 0.4s ease-in-out;
}
.ellipsis:hover {
  cursor: pointer;
  transform: scale(1.2);
  border: 5px solid #282828;
  transform: rotate(90deg);
}

.ellipsis.active {
  gap: 4px;
  border: 5px solid #8c7f6d;
}
.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  list-style: none;
  padding: 0;
  visibility: visible;
  margin: 0 auto;
}

.nav-icons.active {
  visibility: visible;
}

.nav-icons li {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-size: 2rem;
  transition: transform 0.5s ease-in-out, opacity 0.8s ease-in-out;
  cursor: pointer;
}

.nav-icons.active li:nth-child(1) {
  transform: translate(0%, -150%);
  opacity: 1;
}

.nav-icons.active li:nth-child(2) {
  transform: translate(150%, 0%);
  opacity: 1;
}

.nav-icons.active li:nth-child(3) {
  transform: translate(0%, 150%);
  opacity: 1;
}

.nav-icons.active li:nth-child(4) {
  transform: translate(-150%, 0%);
  opacity: 1;
}
.logo {
  font-weight: bold;
  color: var(--logo-color);
  letter-spacing: -1px;
  text-decoration: none;
  font-size: 3.6rem;
}
.logo:hover {
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  height: 80vh;
  gap: 27px;
  border-bottom: 2px solid #3d2e2e;
}

header img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.around-image {
  display: flex;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

header p {
  font-size: 1.6rem;
  text-shadow: 0 5px 10px #0004;
  letter-spacing: -0.5px;
}
header h1 {
  font-size: 4.8rem;
  text-shadow: 0 5px 10px #0004;
  margin: 0 auto;
  letter-spacing: -2px;
}
header h2 {
  color: #8c7f6d;
  font-size: 3.2rem;
  text-shadow: 0 5px 10px #0004;
  margin: 0 auto;
  letter-spacing: -2px;
}
.header-container {
  display: flex;
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1.5px;
  line-height: 40px;
}

.buttons {
  margin: 30px auto;
}
.buttons a {
  display: inline-block;
  text-decoration: none;
  color: var(--link-color);
  background-image: linear-gradient(to top, #8c7f6d, #8c7f6d);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: left 100%;
  transition: background-size 0.7s, background-position 0s 0.7s;
  font-size: 1.6rem;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.buttons a:hover {
  background-size: 100% 100%;
  background-position: left 0%;
}

.stacks {
  display: flex;
  width: 1140px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.stacks p {
  font-size: 2rem;
  font-weight: 500;
  white-space: nowrap;
}
.tech-line {
  font-size: 3rem;
  position: relative;
  left: 13px;
}

.icon-container {
  display: flex;
  gap: 50px;
  max-width: 300px;
  overflow: hidden;
  position: relative;
}

.icon-container i {
  font-size: 4rem;
  animation: scroll 7s linear infinite;
}

.fa-html5 {
  color: #e34f26;
}
.fa-css3-alt {
  color: #1572b6;
}
.fa-js {
  color: #f0db4f;
}
.fa-node-js {
  color: #339933;
}
.fa-react {
  color: #61dbfb;
}

@keyframes scroll {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(-1000%);
  }
}

#about {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 250px auto;
  width: 100%;
}

.around-boxes {
  display: flex;
  justify-content: center;
  width: 100%;
}

.box1,
.box2,
.box3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  height: 300px;
  background-color: var(--background-color);
  box-shadow: 0 0 10px #0004;
  border: 1px solid var(--border-color);
  line-height: 16px;
  gap: 5px;
  margin: 0 auto;
}
.inside-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 10px;
  width: 80%;
  gap: 10px;
  margin-top: -70px;
}
.text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  width: 80%;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: -50px;
}
.box1 p,
.box2 p,
.box3 p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 300;
}
.box-number {
  color: var(--logo-color);
  font-weight: 200;
  font-size: 1.6rem;
  align-self: start;
}
.inside-box h6 {
  font-size: 3rem;
  color: var(--logo-color);
  align-self: start;
  font-weight: 100;
}
.work-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width: 1140px;
  margin: 150px auto;
}

.work-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  position: relative;
}
.line {
  position: relative;
  left: 50%;
  background-color: #3d2e2e;
  width: 2px;
  height: 300px;
}
.fa-arrow-down {
  font-size: 1.6rem;
  color: var(--logo-color);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 48.1%;
  border-radius: 50%;
  background-color: var(--background-color);
  height: 35px;
  width: 35px;
  border: 1px solid var(--border-color);
  color: var(--logo-color);
  margin: 5px;
}
.project {
  position: absolute;
  background-color: var(--background-color);
  width: 400px;
  height: 300px;
  border: 1px solid var(--border-color);
}
.project p {
  position: relative;
}
.circle-link i {
  font-size: 1.6rem;
  margin-top: 10px;
}
.circle-link {
  transition: transform 0.3s ease;
}
.project-1:hover .circle-link-1,
.project-2:hover .circle-link-2,
.project-3:hover .circle-link-3 {
  transform: scale(1.5);
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1.2); /* Starter lidt større */
  }
  50% {
    transform: scale(1.4); /* Vokser */
  }
  100% {
    transform: scale(1.2); /* Tilbage til udgangspunktet */
  }
}
.framework {
  font-size: 2rem;
  font-weight: 100;
}
.project-1 {
  left: 58%;
  top: 20%;
}
.project-2 {
  top: 50%;
  left: 7%;
}
.project-3 {
  top: 85%;
  left: 58%;
}
.project-1 p {
  padding: 5px;
}
.project-2 p {
  padding: 5px;
}
.project-3 p {
  padding: 5px;
}
.project-1-headline {
  margin-top: 10px;
  padding-left: 15px;
}
.project-2-headline {
  margin-top: 10px;
  padding-left: 15px;
}
.project-3-headline {
  margin-top: 10px;
  padding-left: 15px;
}
.before-project-name {
  font-size: 1.6rem;
}
.before-project-name-2 {
  font-size: 1.6rem;
}
.before-project-name-3 {
  font-size: 1.6rem;
}
.project-1 .time-box {
  position: absolute;
  font-size: 1rem;
  right: 5px;
  top: 5px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  margin: 10px;
}
.project-2 .time-box {
  position: absolute;
  font-size: 1rem;
  right: 5px;
  top: 5px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  margin: 10px;
}
.project-3 .time-box {
  position: absolute;
  font-size: 1rem;
  right: 5px;
  top: 5px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  margin: 10px;
}
.project-1-end {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.project-2-end {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.project-3-end {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.project-1-end a {
  color: var(--logo-color);
}
.project-2-end a {
  color: var(--logo-color);
}
.project-3-end a {
  color: var(--logo-color);
}
.project-name {
  font-size: 2.2rem;
  font-weight: 200;
  margin-top: -15px;
  color: var(--logo-color);
}
.project-name-2 {
  font-size: 2.2rem;
  font-weight: 200;
  margin-top: -15px;
  color: var(--logo-color);
}
.project-name-3 {
  font-size: 2.2rem;
  font-weight: 200;
  margin-top: -15px;
  color: var(--logo-color);
}
.learned {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 10px;
  gap: 1px;
}
.learned-2 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 10px;
  gap: 5px;
}
.learned-3 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 10px;
  gap: 5px;
}
.learned li {
  font-size: 1.4rem;
  font-weight: 100;
}
.learned-2 li {
  font-size: 1.4rem;
  font-weight: 100;
}
.learned-3 li {
  font-size: 1.4rem;
  font-weight: 100;
}
footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

footer p {
  padding: 15px;
}

.box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1s ease-out;
}

.box.visible {
  opacity: 1;
  transform: translateY(0);
}

.project1.visible {
  transition-delay: 0s;
}

.project2.visible {
  transition-delay: 0.3s;
}

.project3.visible {
  transition-delay: 0.6s;
}

#contact {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 250px auto;
  width: 100%;
}
